<div class="dashboard-wrapper">
  <div class="musician">
    <div class="musician-d-container">
      <%= cl_image_tag(@musician.user_photo, class: 'dashboard_musician-image') %>
    </div>
    <div class="musician-d-nickname">
      <h3><%= @musician.nickname %></h3>
    </div>
  </div>

  <div class="dashboard-profile">
    <%= link_to edit_user_registration_path do %>
      <ul id="d-profile">Profile</i></ul>
    <% end %>
    <%#= link_to  %>
    <ul id="d-request">Request</ul>
    <ul id="d-bands">Bands</ul>
<!--     <ul id="d-message">Message</ul>
 -->  </div>

  <div class="personal-information">
    <div class="d-p-info">
      <h3>Personal information
        <%= link_to edit_user_registration_path do %><i class="fas fa-edit edit"></i><% end %></h3>
      <ul>Nickname : <%= @musician.nickname %></ul>
      <ul>Email adress : <%= @musician.email %></ul>
      <ul>Full name : <%= @musician.fullname %></ul>
      <ul>Date of Birth : <%= @musician.date_of_birth %></ul>
      <ul>Location : <%= @musician.location %></ul>
      <ul>Tag Line : <%= @musician.tag_line %></ul>
      <ul>Your Photo : <%= cl_image_tag(@musician.user_photo, class: 'd-musician-user-photo') %></ul>
      <ul>Banner Photo : <%= cl_image_tag(@musician.banner_photo, class: 'd-musician-banner-photo') %></ul>
      <ul>Biography : <%= @musician.description %></ul>
      <ul>Years experience : <%= @musician.years_experience %> <%= @musician.years_experience > 1 ? 'years' : 'year' %></ul>
      <ul>
        Music Instruments : <% @musician.equipments.each do |e| %>
        <%= e.equipment_type %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="requests">
    <h3>Your Requests</h3>

      <div class="r-container">
        <div class="f-request">
          <h4>Requests you send</h4>
          <div class="from-request">

          <% if @from_requests.exists? %>
            <% @from_requests.each do |r| %>
              <div class="r-card">
                <p>Status : <%= r.status.capitalize %></p>
                <% @musicians.where(id: r.to_id).each do |m| %>
                  <p>Request to : <%= m.nickname.capitalize! %></p>
                  <%= cl_image_tag(m.user_photo, class: 'r-img') %>
                <% end %>
                <p>Message : <%= r.message %></p>
                <% if button_text = status_button_text(r) %>
                  <%= link_to button_text.capitalize, edit_status_requests_path(r), method: 'patch', class: "btn btn-primary" %>
                <% end %>
                <% unless r.status == 'confirmed' || r.status == 'rejected' %>
                  <%= link_to 'Reject', edit_status_requests_path(r, reject: 1), method: 'patch', class: "btn btn-danger" %>
                <% end %>
              </div>
            <% end %>
          <% else %>
             No requests you have send yet...
          <% end %>

         </div>
       </div>

         <div class="to-request">
          <h4>Requests from other Musicians</h4>
          <div class="r-t-container">
            <% if @to_requests.exists? %>
              <% @to_requests.each do |r| %>
                <div class="r-card">
                  <p>Status : <%= r.status.capitalize %></p>
                  <% @musicians.where(id: r.from_id).each do |m| %>
                    <p>Request from : <%= m.nickname.capitalize! %></p>
                    <%= cl_image_tag(m.user_photo, class: 'r-img') %>
                  <% end %>
                  <p>Message : <%= r.message %></p>
                  <% if button_text = status_button_text(r) %>
                    <%= link_to button_text.capitalize, edit_status_requests_path(r), method: 'patch', class: "btn btn-success" %>
                  <% end %>
                  <% unless r.status == 'confirmed' || r.status == 'rejected' %>
                    <%= link_to 'Reject', edit_status_requests_path(r, reject: 1), method: 'patch', class: "btn btn-danger" %>
                  <% end %>
                </div>
              <% end %>
            <% else %>
               No requests yet...
            <% end %>
         </div>

    </div>

  </div>

  <div class="bands-feature">
    <h3>Your Bands</h3>
    <div class="your-bands">
      <%= link_to band_path(@band) do %>
      <% @bands.each do |b| %>
        <div class="b-card">
          <h5>Band name : <%= b.band_name.capitalize %></h5>
          <p>Members : </p>
          <% b.band_members.each do |m| %>
            <div class="b-members">
              <% user = User.find(m.user_id) %>
              - <%= user.nickname.capitalize %>
              <%= cl_image_tag(user.user_photo, class: 'b-img') %>
            </div>
            <% end %>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>


</div>
