<div class="dashboard-wrapper">
  <div class="musician">
    <div class="musician-d-container">
      <%= cl_image_tag(@musician.user_photo, class: 'dashboard_musician-image') %>
    </div>
    <div class="musician-d-nickname">
      <h3><%= @musician.nickname.capitalize %></h3>
    </div>
  </div>

  <div class="dashboard-profile">

    <input type="checkbox" style="display: none;" id="requests">
    <label for="requests" class="btn d-bands request" id="request-label">Request</label>
    <script>
      const request = document.getElementById('request-label')
      request.style.borderBottom = '4px solid #9745AF'
      $(document).ready(function() {
        $("#requests").change(function(){
          if(this.checked){
            $(".requests")[0].style.display = "block";
            $(".personal-information")[0].style.display = "none";
            $(".bands-feature")[0].style.display = "none";
            request.style.borderBottom = '4px solid #9745AF';
            profile.style.borderBottom = 'none';
            band.style.borderBottom = 'none';
          } else {
            $(".requests")[0].style.display = "block";
            $(".personal-information")[0].style.display = "none";
            $(".bands-feature")[0].style.display = "none";
            request.style.borderBottom = '4px solid #9745AF';
            band.style.borderBottom = 'none';
            profile.style.borderBottom = 'none';
          }
        })
      });
    </script>

    <input type="checkbox" style="display: none;" id="bands">
    <label for="bands" class="btn d-bands band" id='band-label'>Jams</label>
    <script>
      const band = document.getElementById('band-label')
      $(document).ready(function() {
        $("#bands").change(function(){
          if(this.checked){
            $(".bands-feature")[0].style.display = "block";
            $(".personal-information")[0].style.display = "none";
            $(".requests")[0].style.display = "none";
            band.style.borderBottom = '4px solid #3F5DFA'
            request.style.borderBottom = 'none';
            profile.style.borderBottom = 'none'
          } else {
            $(".bands-feature")[0].style.display = "block";
            $(".personal-information")[0].style.display = "none";
            $(".requests")[0].style.display = "none";
            request.style.borderBottom = 'none';
            profile.style.borderBottom = 'none'
            band.style.borderBottom = '4px solid #3F5DFA';
          }
        })
      });
    </script>

    <input type="checkbox" style="display: none;" id="profile">
    <label for="profile" class="btn d-bands profile" id='profile-label'>Profile</label>
    <script>
      const profile = document.getElementById('profile-label')
      $(document).ready(function() {
        $("#profile").change(function(){
          if(this.checked){
            $(".personal-information")[0].style.display = "block";
            $(".requests")[0].style.display = "none";
            $(".bands-feature")[0].style.display = "none";
            profile.style.borderBottom = '4px solid #E84369'
            request.style.borderBottom = 'none';
            band.style.borderBottom = 'none';
          } else {
            $(".personal-information")[0].style.display = "block";
            $(".bands-feature")[0].style.display = "none";
            $(".requests")[0].style.display = "none";
            profile.style.borderBottom = '4px solid #E84369';
            request.style.borderBottom = 'none';
            band.style.borderBottom = 'none';
          }
        })
      });
    </script>


  </div>

  <div class="personal-information" style='display: none; margin-bottom: 15vh;'>
    <div class="d-p-info">

      <div class="show-banner-overlay" style="border-top-left-radius: 20px;">
        <div class="absolute-banner-to-edit">
        <div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path(@musician.banner_photo) %>'); border-top-left-radius: 20px;">
          <div class="musician-show-banner-content">
            <%= link_to edit_user_registration_path do %>
              <i class="fas fa-edit edit-icon"><span>Edit Profile</span></i>
            <% end %>
            <div class="show-nickname">
              <%= @musician.nickname.capitalize %>
            </div>
              <h4><%= @musician.tag_line %></h4>


            </div>
          </div>
        </div>
      </div>


      <div class="container">
        <div class="musicians-show-container">
          <div class="show-musician-pic-wrapper">
            <%= cl_image_tag(@musician.user_photo, class:"show-musician-photo") %>
            <div class="s-musician-pic-overlay"></div>
          </div>

          <div class="gray-detail-container">
            <div class="gray-info-contents">
              <div class="gray-name">
                <% @musician.fullname.split(' ').each do |m| %>
                  <%= m.capitalize %>
                <% end %>
              </div>
              <div class="gray-bio">
                <p ><%= @musician.description %></p>
              </div>
              <div class="gray-eq">
                <%
                  instruments = @musician.equipments.map do |e|
                    e.equipment_type.capitalize
                  end
                %>
                <%= instruments.join(" · ") %>
              </div>
              <div class="gray-other-info">
                <% unless @musician.genres.nil? %>
                  <p>Genre:
                    <%
                      genres = []
                      @musician.genres.each do |genre|
                        genres << genre.name
                      end
                    %>
                    <%= genres.join(' · ') %>
                  </p>
                <% end %>
                <p>Location: <%= @musician.location %></p>
              </div>

              <% unless @musician.bands.empty? %>
                <div class="gray-view-bands">
                  <p>Bands:</p>
                  <ul>
                    <% @musician.bands.each do |band| %>
                      <li><%= band.band_name.capitalize %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="requests" style="margin-bottom: 15vh;" >
<!--     <h3>Your Requests</h3>
 -->
      <div class="r-container">
        <div class="f-request">
          <h4 class="request-header">Sent Requests</h4>
          <div class="from-request"> <!-- adds bottom space
 -->
          <% if @from_requests.exists? %>
            <% @from_requests.each do |r| %>
              <div class="r-card">
                  <p>Status : <%= r.status.capitalize %></p>
                  <% @musicians.where(id: r.to_id).each do |m| %>
                    <%= link_to musician_path(m.id) do %>
                      <p class='r-card-nickname'>Request to : <%= m.nickname.capitalize! %></p>
                      <%= cl_image_tag(m.user_photo, class: 'r-img') %>
                    <% end %>
                    <p>Message : <%= r.message %></p>
                    <% if button_text = status_button_text(r) %>
                      <%= link_to button_text.capitalize, edit_status_requests_path(r), method: 'patch', class: "btn btn-primary" %>
                    <% end %>
                    <% unless r.status == 'confirmed' || r.status == 'rejected' %>
                      <%= link_to 'Reject', edit_status_requests_path(r, reject: 1), method: 'patch', class: "btn btn-danger" %>
                    <% end %>
                  <% end %>
              </div>
            <% end %>
          <% else %>
             <p style="padding: 35px;margin-left: 20px;>No requests you have send yet...</p>
          <% end %>

          </div>
        </div>

         <div class="to-request">
          <h4 class="request-header">Requests From Other Musicians</h4>
          <div class="r-t-container">
            <% if @to_requests.exists? %>
              <% @to_requests.each do |r| %>
                <div class="r-card">
                  <p>Status : <%= r.status.capitalize %></p>
                  <% @musicians.where(id: r.from_id).each do |m| %>
                    <%= link_to musician_path(m.id) do %>
                      <p class='r-card-nickname'>Request from : <%= m.nickname.capitalize! %></p>
                      <%= cl_image_tag(m.user_photo, class: 'r-img') %>
                    <% end %>
                  <% end %>
                  <p>Message : <%= r.message %></p>
                  <% if button_text = status_button_text(r) %>
                    <%= link_to button_text.capitalize, edit_status_requests_path(r), method: 'patch', class: "btn btn-success" %>
                  <% end %>
                  <% unless r.status == 'confirmed' || r.status == 'rejected' %>
                    <%= link_to 'Reject', edit_status_requests_path(r, reject: 1), method: 'patch', class: "btn btn-danger" %>
                  <% end %>
                </div>
              <% end %>
            <% else %>
               <p style="padding: 35px;margin-left: 20px;">No requests yet...</p>
            <% end %>
           </div>
         </div>

      </div>

  </div>


  <div class="bands-feature" style="display: none; margin-bottom: 15vh;">
    <h3 style="padding: 5px;font-family: 'open sans';font-weight: lighter;font-size: 25px;margin-bottom: 20px;margin-left: 35px;">Your Jams</h3>
    <div class="your-bands">
      <% if @bands.exists? %>
        <% @bands.each do |b| %>
          <%= link_to band_path(b) do %>
            <div class="b-card">

              <div style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/harrisongarovi/image/upload/v1551851442/adult-artist-artists-210887.jpg);     border-top-left-radius: 20px; width:100%; height:50%; background-size: cover; ">
                  <div class="dash-band-wrapper">
                    <div class= "dash-band-contents">
                      <p class='band-name'><%= b.band_name.capitalize %></p>
                      <p id='members'>Members</p>
                    </div>
                  </div>
              </div>
          <% end %>

              <div class="b-members-wrapper" style="margin-top: 35px;margin-left: 20px;">
              <% b.band_members.each do |m| %>
                  <% user = User.find(m.user_id) %>
                <div class="b-members">
                  <%= link_to musician_path(m.user_id) do %>
                    <%= cl_image_tag(user.user_photo, class: 'b-img') %>
                  <% end %>
                </div>
              <% end %>

              </div>
            </div>
          <% end %>
      <% else %>
        <p style='padding-left: 20px;'><%= 'No Jams formed yet... ' %></p>
      <% end %>
    </div>
  </div>

</div>
