<div class="card-container">
  <div class="explore-search-wrapper">
    <div class="index-explore">Musicians</div>
  </div>

  <div class="musician-container">
    <div class="row">
      <% @musicians.each do |musician| %>
        <div class="col-xs-12 col-md-4">
          <div class="musician-index">
            <div class="musician-card">
              <%= link_to musician_path(musician) do %>
                <%= cl_image_tag(musician.user_photo, class: 'musician-image') %>

                <div class="musician-description-shadow">
                  <div class="musician-card-description">
                    <p class="nickname"><%= musician.nickname.capitalize! %></p>
                    <div class="musician-equipment">
                      <% instruments = musician.equipments.map do |e| %>
                        #<%= e.equipment_type.capitalize  %>
                      <% end %>
                    </div>
                    <div class="detail-absolute">
                    <p class="tag-line"><%= musician.tag_line %></p>
                    <p class="location"><i class="fas fa-map-marked-alt"></i> <%= musician.location.capitalize! %></p>
                  </div>
                  </div>
                </div>

              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
