<div class="ts-bar-wrapper">
  <div class="title-and-search-bar">
    <div class="find-by-pref">
    Who are you looking for?
    </div>
    <div class="flex-grow-3 d-flex musician-search-bar" >
      <%= form_tag musicians_path, method: :get, class: 'search-form' do %>
        <%= text_field_tag :query, params[:query], class: "form-home mr-sm-6 search-field", placeholder: "  Search" %>
        <%= submit_tag "Search", class: "btn btn-danger search-btn" %>
      <% end %>
    </div>
  </div>
</div>

<div class="card-container">
    <div class="index-explore">
    Explore all musicians
    </div>
  <div class="musician-container">
    <div class="row">
      <% @musicians.each do |musician| %>
        <div class="col-xs-12 col-md-4">
          <div class="musician-index">
            <div class="musician-card">
              <%= link_to musician_path(musician) do %>
                <%= cl_image_tag(musician.user_photo, class: 'musician-image') %>

                <div class="musician-description-shadow">
                <div class="musician-card-description">
                <p class="nickname"><%= musician.nickname.capitalize! %></p>
                <div class="form-inline musician-equipment">
                  <%
                    instruments = musician.equipments.map do |e|
                      e.equipment_type.capitalize
                    end
                  %>
                  <%= instruments.join(" | ") %>
                </div>
                <p class="tag-line"><%= musician.tag_line %></p>
                <p class="location">Location :  <%= musician.location.capitalize! %></p>

              </div>
              </div>

              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
