<div class="show-banner-overlay">
    <div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path(@musician.banner_photo) %>');">
      <div class="musician-show-banner-content">
        <div class="show-nickname">
          <%= @musician.nickname.capitalize %>
        </div>
          <h4><%= @musician.tag_line %></h4>
          <div class="badges">
            <% if @reviews %>
              <% badges = @reviews.map do |r| %>
                <% r.badges %>
              <% end %>
              <% badges.uniq.each do |u| %>
                <% unless u == nil  %>
                <p># <%= u %></p>
                <% end %>
              <% end %>
            <% else %>
              <%=  %>
            <% end %>
          </div>
      </div>
    </div>
</div>


<div class="s-container">
  <div class="musicians-show-container">
    <div class="show-musician-pic-wrapper">
      <%= link_to musician_path(@musician) do %>
      <%= cl_image_tag(@musician.user_photo, class:"show-musician-photo") %>
      <% end %>
      <div class="s-musician-pic-overlay">
      </div>
    </div>

    <div class="gray-detail-container">
      <div class="gray-info-contents">
        <div class="gray-name">
          <% @musician.fullname.split(' ').each do |m| %>
            <%= m.capitalize %>
          <% end %>
          <% if user_signed_in? && @musician != current_user %>
            <input type="checkbox" style="display: none;" id="invite">
            <label for="invite" class='btn btn-primary invite-btn'>Jam with <%= @musician.nickname.capitalize %></label>
          <% end %>
          <script>
            $(document).ready(function() {
              $("#invite").change(function(){
                if(this.checked){
                  $("#m-invite")[0].style.display = "block";
                  $('.m-show-description')[0].style.display = 'none';
                  $('.invite-btn')[0].style.display = 'none';
                  $('.m-review-b')[0].style.display = 'none';
                  document.querySelector('#last_review').style.display = 'none';
                } else {
                  $("#m-invite")[0].style.display = "none";
                }
              })
            });
          </script>

        </div>
        <div id="m-invite" style='display: none;'>
          <% if user_signed_in? && current_user != @musician %>

            <div id="connect">
              <% if @requested %>
                <div class="sent-r"><p><%= link_to "You have sent a request.", musicians_path, class: "text-center btn btn-secondary disabled align-center", :disabled => true %></p></div>
                <div><p><%= link_to 'Back', musician_path(@musician) %></p></div>
              <% else %>
                <div class="invite-form">
                  <%= simple_form_for @request, wrapper: :inline_form do |f| %>
                    <p><%= f.input :to_id, :as => :hidden, :input_html => { :value => @musician.id } %>
                    <%= f.input :band_id, collection: @musicians_bands, class: 'form-control select', selected: 0 %></p>
                    <p><%= f.input :message, placeholder: 'Message' %></p>
                    <p class='i-submit'><%= f.button :submit, 'Invite', class: "btn btn-success connect" %>
                    <%= link_to 'Back', musician_path(@musician), style: 'padding-left: 10px;' %></p>
                    <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="m-show-description">
          <div class="gray-bio">
            <p ><%= @musician.description %></p>
          </div>
          <div class="gray-eq">
            <%
              instruments = @musician.equipments.map do |e|
                e.equipment_type.capitalize
              end
            %>
            <%= instruments.join(" · ") %>
          </div>
          <div class="gray-other-info">
            <% unless @musician.genres.nil? %>
              <p>Genre:
                <%
                  genres = []
                  @musician.genres.each do |genre|
                    genres << genre.name.capitalize
                  end
                %>
                <%= genres.join(' · ') %>
              </p>
            <% end %>
              <p>Location: <%= @musician.location.capitalize %></p>
          </div>

          <% unless @musician.bands.empty? %>
            <div class="gray-view-bands">
              <ps>Bands:
                <% @musician.bands.each do |band| %>
                  <%= band.band_name.capitalize %>
                <% end %></p>
            </div>
          <% end %>
        </div>



        <label for="m-review" class='btn m-review-b'>View Gig History</label>
        <input type="checkbox" style="display: none;" id="m-review">
        <script>
          $(document).ready(function() {
            $("#m-review").change(function(){
              if(this.checked){
                $(".musician-review")[0].style.display = "block";
                $(".m-show-description")[0].style.display = "none";
                $(".gray-name")[0].style.display = "none";
                $(".m-review-b")[0].style.display = "none";
                $("#m-invite")[0].style.display = "none";
                document.querySelector('#last_review').style.display = 'none';
              } else {
                $(".musician-review")[0].style.display = "none";
              }
            })
          });
        </script>
        <div class="r-last-review" id='last_review'>
          <% if @reviews %>
            <div class="last-review">
              <% 5.times.each do |count| %>
                <% if @reviews.last.stars && @reviews.last.stars > count %>
                  <i class="fas fa-star star"></i>
                <% else %>
                  <i class="fas fa-star unstar"></i>
                <% end %>
              <% end %>
              <p><%= @reviews.last.content %></p>
              <p class='review-from'>Comments from <%= @musicians.find(@reviews.last.from_id).nickname.capitalize %></p>
            <%# else %>
              <%#= 'No comments yet.' %>
            </div>
          <% end %>
        </div>

        <div class="musician-review" style='display: none;'>
          <div class="review-content">
            <% if @reviews %>
              <% @reviews.each do |r| %>
                <div class="r-content">
                  <% 5.times.each do |count| %>
                    <% if r.stars && r.stars > count %>
                      <i class="fas fa-star star"></i>
                    <% else %>
                      <i class="fas fa-star unstar"></i>
                    <% end %>
                  <% end %>
                  <p><%= r.content %></p>
                  <p class='review-from'>Comments from <%= @musicians.find(r.from_id).nickname.capitalize %></p>
                </div>
              <% end %>
              <% if @musician != current_user %>
                <input type="checkbox" style="display: none;" id="m-write-review">
                <label for="m-write-review" class='btn btn-primary write-btn'>Write comments</label>
                <div class='back-btn'><%= link_to 'Back', musician_path(@musician) %></div>
              <% end %>
              <div id="create-review" style="display: none">
                <%= simple_form_for [@musician, @review] do |f| %>
                  <%= f.input :content %>
                  <%= f.input :stars  %>
                  <%= f.input :badges, as: :select, collection: [ 'Awesome guitarist!', 'Great musician', 'Funky'] %>
                  <%= f.submit "Send", class: "btn btn-success review-submit" %>
                  <%#= flash.now[:notice] = "Review has been saved successfully." %>
                  <p class='write-btn'><%= link_to 'Back', musician_path(@musician) %></p>
                <% end %>
              </div>
            <% else %>
              <p class='no-comment'><%= 'No comments yet.' %></p>
              <input type="checkbox" style="display: none;" id="m-write-review">
              <label for="m-write-review" class='btn btn-primary write-btn'>Write the first comment!</label>
              <p class='back-btn'><%= link_to 'Back', musician_path(@musician) %></p>
              <script>
                document.querySelector("#m-write-review").addEventListener("click", function() {
                  console.log("clicked");
                  document.querySelector('#create-review').style.display = "block";
                  document.querySelector('.write-btn').style.display = "none";
                  document.querySelector('#m-invite').style.display = "none";
                  document.querySelector('.no-comment').style.display = "none";
                  document.querySelector('.back-btn').style.display = "none";
                })
              </script>
              <% if user_signed_in? %>
                <div id="create-review" style="display: none">
                  <%= simple_form_for [@musician, @review] do |f| %>
                    <%= f.input :content %>
                    <%= f.input :stars  %>
                    <%= f.input :badges, as: :select, collection: [ 'Awesome guitarist!', 'Great musician', 'Funky'] %>
                    <%= f.submit "Send", class: "btn btn-success review-submit" %>
                    <%#= flash.now[:notice] = "Review has been saved successfully." %>
                  <p><%= link_to 'Back', musician_path(@musician) %></p>
                  <% end %>
                </div>
              <% end %>
            <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

              <script>
                document.querySelector("#m-write-review").addEventListener("click", function() {
                  document.querySelector('#create-review').style.display = "block";
                  document.querySelector('.write-btn').style.display = "none";
                  console.log(document.querySelector('.write-btn').style.display);
                  document.querySelector('.r-content').style.display = "none";
                  document.querySelector('.back-btn').style.display = "none";
                  document.querySelector('#last_review').style.display = 'none';
                })
              </script>
