<div class="show-banner-overlay">
    <div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path(@musician.banner_photo) %>');">
      <div class="show-banner-content">
        <div class="show-nickname">
          <%= @musician.nickname.capitalize %>
        </div>
          <h4><%= @musician.tag_line %></h4>

      </div>
    </div>
</div>


<div class="container">
  <div class="show-container">
    <div class="show-musician-pic-wrapper">
      <%= cl_image_tag(@musician.user_photo, class:"show-musician-photo") %>
      <div class="gray-connect-btn">
          <p>Jam session with <%= @musician.nickname.capitalize %>?</p>
          <span class="btn btn-primary text-center col-xs-6 btn-sm">Connect</span>
      </div>
      <div class="s-musician-pic-overlay">
      </div>
    </div>

      <div class="gray-detail-container">
        <div class="gray-info-contents">
          <div class="gray-name">
            <%= @musician.fullname.capitalize %>
          </div>
          <div class="gray-bio">
            <p ><%= @musician.description %></p>
          </div>
          <div class="gray-eq">
            <%
              instruments = @musician.equipments.map do |e|
                e.equipment_type.capitalize
              end
            %>
            <%= instruments.join(" | ") %>
          </div>
          <div class="gray-other-info">
            <p>Genre:</p>
            <p>Location: <%= @musician.location %></p>
          </div>
          <div class="gray-view-bands">
            <p>Bands: list band.banner with circle</p>
          </div>


        </div>
      </div>
  </div>
</div>


<div class="instruments" style="background-color: #F2F2F2; padding: 20px;">
<h3 style="text-align: center;">※THEIR MUSIC INSTRUMENTS HERE※</h3>
<div style="text-align: center;">.</div>
<div style="text-align: center;">.</div>
<div style="text-align: center;">.</div>
<div style="text-align: center;">.</div>
<div style="text-align: center;">.</div>
<p style="text-align: center;">.</p>
</div>


    <!-- <div class="card-wrapper">
      <div class="show-banner-content">
        <h3 class="show-musician-name"><%#= @musician.nickname %></h3>
        <div class="show-card-description">
          <div class="show-card-contents">
            <div>
              <%= cl_image_tag(@musician.user_photo, class: 'show-card-user') %>
              <h4 class='text-center'><%= @musician.nickname.capitalize %></h4>
              <p class='show-want-to text-center'>want to play with <%= @musician.nickname %>?</p> -->
             <!--  <input type="checkbox" style="display: none;" id="connect">
                <div class="popup" style="display: none;">
                  <div class="col-md-6">
                    <%#= simple_form_for [@musician], url: musician_path(@musician) do |f|  %>
                    <%#= f.input :to_requests, as: :string %>
                    <%#= f.input :end_time, as: :string, required: false, input_html: {class: "datepicker"} %>
                      <p class='submit'><%#= f.button :submit, "Connect", class: "button" %></p>
                    <%# end %>
                  </div>
                </div> -->
                <!-- <div id="show-connect">
                  <p class="btn btn-primary connect align-center">Connect</p>
                </div>
                <%= link_to band_path(@musician) do %>
                <p class="show-view text-center">View all the bands <%= @musician.nickname %> is in </p>
                <% end %>
            </div> -->
            <script>
              $(document).ready(function() {
                $("#connect").change(function(){
                  if(this.checked){
                    $(".popup")[0].style.display = "block";
                    $(".card-contents")[0].style.display = "none";
                  } else {
                    $(".popup")[0].style.display = "none";
                  }
                })
              });
            </script>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


