<div class="show-banner-overlay">
    <div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path(@musician.banner_photo) %>');">
      <div class="musician-show-banner-content">
        <div class="show-nickname">
          <%= @musician.nickname.capitalize %>
        </div>
          <h4><%= @musician.tag_line %></h4>

      </div>
    </div>
</div>


<div class="container">
  <div class="musicians-show-container">
    <div class="show-musician-pic-wrapper">
      <%= cl_image_tag(@musician.user_photo, class:"show-musician-photo") %>
      <!-- <div class="gray-connect-btn">
          <p>Jam session with <%= @musician.nickname.capitalize %>?</p>
          <span class="btn btn-primary text-center col-xs-6 btn-sm">Connect</span>
      </div> -->
      <div class="s-musician-pic-overlay">
      </div>
    </div>

      <div class="gray-detail-container">
        <div class="gray-info-contents">
          <div class="gray-name">
            <% @musician.fullname.split(' ').each do |m| %>
              <%= m.capitalize %>
            <% end %>
          </div>
          <div class="gray-bio">
            <p ><%= @musician.description %></p>
          </div>
          <div class="gray-eq">
            <%
              instruments = @musician.equipments.map do |e|
                e.equipment_type.capitalize
              end
            %>
            <%= instruments.join(" · ") %>
          </div>
          <div class="gray-other-info">
          <% unless @musician.genres.nil? %>
            <p>Genre:
              <%
                genres = []
                @musician.genres.each do |genre|
                  genres << genre.name.capitalize
                end
              %>
              <%= genres.join(' · ') %>
            </p>
          <% end %>
            <p>Location: <%= @musician.location.capitalize %></p>
          </div>

          <% unless @musician.bands.empty? %>
            <div class="gray-view-bands">
              <p>Bands:</p>
              <ul>
                <% @musician.bands.each do |band| %>
                  <li><%= band.band_name.capitalize %></li>
                <% end %>
                </ul>
              </ul>
            </div>
          <% end %>


        </div>
      </div>
  </div>
</div>

<% if user_signed_in? && current_user != @musician %>
<p class='want-to text-center'>want to play with <%= @musician.nickname %>?</p>
  <div id="connect">
    <% if @requested %>
      <%= link_to "Already Connected", musicians_path, class: "btn btn-secondary disabled align-center", :disabled => true %>
    <% else %>
      <%= simple_form_for @request, wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
        <%= f.input :to_id, :as => :hidden, :input_html => { :value => @musician.id } %>
        <%= f.input :band_id, collection: @musicians_bands, class: 'form-control', selected: 0 %>
        <%= f.input :message, placeholder: 'Message' %>
        <%= f.button :submit, 'Connect', class: "btn btn-primary connect align-center" %>
      <% end %>
    <% end %>
  </div>
<% end %>


<!-- <div class="instruments" style="background-color: #F2F2F2; padding: 20px;">
<h3 style="text-align: center;">※THEIR MUSIC INSTRUMENTS HERE※</h3>
<div style="text-align: center;">.</div>
<div style="text-align: center;">.</div>
<div style="text-align: center;">.</div>
<div style="text-align: center;">.</div>
<div style="text-align: center;">.</div>
<p style="text-align: center;">.</p>
</div> -->
            <!-- <script>
              $(document).ready(function() {
                $("#connect").change(function(){
                  if(this.checked){
                    $(".popup")[0].style.display = "block";
                    $(".card-contents")[0].style.display = "none";
                  } else {
                    $(".popup")[0].style.display = "none";
                  }
                })
              });
            </script> -->
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


