<!-- change the banner later -->
<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path('https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80') %>');">
</div>


<div class="container">
  <div class="show-container">
    <div class="profile-container text-left">
      <div><h1>About Me</h1></div>
      <div><p><%= @musician.tag_line %></p></div>
      <div><p><%= @musician.description %></p></div>
      <div><h5>Location: <%= @musician.location %></h5></div>
    </div>

    <div class="card-wrapper">
      <div class="banner-content">
        <h3 class="musician-name"><%#= @musician.nickname %></h3>
        <div class="card-description">
          <div class="card-contents">
            <div><h4 class='text-center'><%= @musician.nickname.capitalize %></h4>
              <p class='want-to'>want to play with <%= @musician.nickname %>?</p>
              <input type="checkbox" style="display: none;" id="connect">
                <div class="popup" style="display: none;">
                    <<!-- div class="col-md-6">
                    </div> -->
                </div>
                <div id="connect">
                  <p class="btn btn-primary connect">Connect</p>
                </div>
            </div>
          </div>
          <%= cl_image_tag(@musician.user_photo, class: 'card-user') %>
        </div>
      </div>
    </div>

  </div>
</div>
</body>


