<div class="landing-page">

<div class="landing-banner">

  <div class="container">
    <div class="lading-banner-container">

      <div class="lading-banner-word">
        <h1 style="font-size: 200px; font-weight: bold;">Let's Play.</h1>
      </div>

      <div class="flex-grow-3 d-flex">
        <div class="landing-search-bar">
          <%= form_tag musicians_path, method: :get, class: "text-left", style: 'padding-left: 50px' do %>
            <%= text_field_tag :query, params[:query], class: "form-home mr-sm-6 search-field", placeholder: "Music instrument or Location" %>
            <%= submit_tag "Search", class: "btn btn-danger", style: "margin: 43px;padding: 5px 25px 5px; margin-left: 10px;" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="down-arrow-icon"><i class="fas fa-chevron-down fa-3x"></i></div>

<div class="landing-white-section">


<h1 class="header" style="display: flex; justify-content: center;">
  <div style="margin-bottom: 50px; border-bottom: 5px solid #E84369; width: 900px; padding-bottom: 10px;">
    A social network for musicians, by musicians.
  </div>
</h1>


<div style="justify-content: space-between;align-items: center;align-content: center;display: flex;margin: 0px 191px;">


    <div class="landing-white-contents"">
      <div class="scj-icons">
       <i class="fas fa-search fa-3x"></i>
      </div>
      <h2 style="font-size: 24px; font-weight: bold; font-family: 'open sans'; text-align: center;  padding-bottom: 10px; margin-top: 10px">Search</h2>
      <p style="width: 180px; margin-bottom: 0;">Search for musicians seeking others to jam and perform with.</p>
    </div>

    <div class="landing-white-contents">
      <div class="scj-icons">
       <i class="fas fa-user-friends fa-3x"></i>
      </div>
      <h2 style="font-size: 24px; font-weight: bold; font-family: 'open sans'; padding-bottom: 10px; margin-top: 10px">Connect</h2>
      <p style="width: 180px; margin-bottom: 0;">Connect and form a band over your shared passion of music.</p>
    </div>

    <div class="landing-white-contents">
      <div class="scj-icons">
       <i class="fas fa-music fa-3x"></i>
      </div>
      <h2 style="font-size: 24px; font-weight: bold; font-family: 'open sans'; padding-bottom: 10px; margin-top: 10px">Jam!</h2>
       <p style="width: 180px; margin-bottom: 0;">Meet up, jam, or perform at a select venue.</p>
    </div>
</div>

</div>

<div class="explore-musician-title">
  <h3 id="explore" style="font-size: 40px">
    <div style="padding-top: 10px;padding-bottom: 10px;width: 450px; border-bottom: 5px solid #3F5DFA">
     Explore musicians.
    </div>
  </h3>
</div>

<div class="landing-musicians">

  <div class="card-container">

    <div class="musician-container">
      <div class="row">
        <% @musicians[0..5].each do |musician| %>
          <div class="col-xs-12 col-md-4">
            <div class="musician-index">
              <div class="musician-card">
                <%= link_to musician_path(musician) do %>
                  <%= cl_image_tag(musician.user_photo, class: 'musician-image') %>

                  <div class="musician-description-shadow">
                  <div class="musician-card-description">
                  <p class="nickname"><%= musician.nickname.capitalize! %></p>
                  <div class="form-inline musician-equipment">
                    <%
                      instruments = []
                      musician.equipments.each do |e|
                        instruments << e.equipment_type.capitalize
                      end
                    %>
                    <%= instruments.join(" | ") %>
                  </div>
                  <p class="tag-line"><%= musician.tag_line %></p>
                  <p class="location">Location :  <%= musician.location.capitalize! %></p>

                </div>
                </div>

                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to musicians_path do %>
        <h3 id="explore">And more....</h3>
      <% end %>
    </div>

</div>
</div>

<div class="landing-footer">
  footer here
</div>



