<div class="venue-popup-container">
  <div class="venue-popup-image"><%= cl_image_tag venue.venue_photos.first.photo %></div>
  <div class="venue-popup-info">
    <div class='venue-name venue-popup-name'>
      <%= "<div class='venue-title'>#{venue.en_name}</div>".html_safe if venue.en_name %>
      <%= "<div class='venue-title'>#{venue.jp_name}</div>".html_safe if venue.jp_name %>
    </div>
    <%= "<div class='venue-data venue-address'>#{venue.address}</div>".html_safe unless venue.address.blank? %>
    <%= "<div class='venue-data venue-address'>#{venue.en_address}</div>".html_safe unless venue.en_address.blank? %>
    <%= "<div class='venue-data'><i class='fas fa-phone'></i> #{venue.phone_num}</div>".html_safe unless venue.phone_num.blank? %>

    <%= "<div class='venue-data'><i class='fas fa-subway'></i> #{venue.closest_station}</div>".html_safe unless venue.closest_station.blank? %>

    <% unless venue.openmic_day.blank? || venue.openmic_start_time.blank? %>
      <% end_time = " - #{local_time(venue.openmic_ending_time, "%l:%M %p")}".html_safe unless venue.openmic_ending_time.blank? %>
      <div class='venue-popup-openmic'>
        <div class='venue-data'><i class='fas fa-microphone'></i> </div>
      <%= "<div class='venue-data'>#{venue.openmic_day}</div>".html_safe unless venue.openmic_day.blank? %>
      <%= "<div class='venue-data'>#{local_time(venue.openmic_start_time, "%l:%M %p")}#{end_time}</div>".html_safe unless venue.openmic_start_time.blank? %>
      </div>
    <% end %>
  </div>
</div>


<!--     t.string "closest_station"
    t.string "jp_website"
    t.string "en_website"
    t.string "openmic_day"
    t.time "openmic_start_time"
    t.time "openmic_ending_time"
    t.string "booking_system"
    t.integer "charge"
    t.string "additional_charge"
    t.string "stage_rule"
    t.integer "capacity" -->
