<% content_for :title, "Venues" %>

<script>
  const venues = <%= raw json_escape(@geojson.to_json) %>;
  const mapkey = "<%= ENV['pk.eyJ1Ijoia3VtYXNhbjM2OCIsImEiOiJjanRxd2xvMTgwMnRzNGFwMmZlcG1pb3p4In0.F_-z1_nW2O3CYYNOH6rC1A'] %>";
</script>

<div class="container">
  <div class="map-page-container">

    <div id="map" style="height: 700px; width: 100%"></div>
      <script>
        var map;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 35.627521, lng: 139.714326},
            zoom: 15
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCq0Eo-JCFvc__H4b0EK0eTgoWesULdXQ&callback=initMap"
      async defer></script>

    <div class="venue-list">
      <div>
        <h1 style="margin:0">HERE IS NEW VENUES MAP  </h1>
      </div>

      <div class="row">
        <% @mapped_venues.each do |venue| %>
          <ul>
            <li>
            <p><strong><%= venue.en_name %></strong> is located in <%= venue.address %> </p>
            </li>
          </ul>
        <% end %>
      </div>
    </div>

  </div>

</div>

<!-- <div class='ivenues-title'>Venues</div>

<div class="map-container">
  <div class="map-item" id="map"></div>
  <div class='listings'>
    <div id='listings' class="ivenues-panel">

      <div id="venues-placeholder">
        <div class="ivenues-item">
          <div class="ivenues-leftside"></div>
          <div class="ivenues-rightside">
            <div class="ivenues-venue-title">&nbsp;</div>
            <div class="ivenues-text ivenues-address"></div>
            <div class="ivenues-text"></div>
            <div class="ivenues-text ivenues-openmic"></div>
          </div>
        </div>
        <div class="ivenues-item">
          <div class="ivenues-leftside"></div>
          <div class="ivenues-rightside">
            <a href="#" class="ivenues-venue-title"></a>
            <div class="ivenues-text ivenues-address"></div>
            <div class="ivenues-text"></div>
            <div class="ivenues-text ivenues-openmic"></div>
          </div>
        </div>
        <div class="ivenues-item">
          <div class="ivenues-leftside"></div>
          <div class="ivenues-rightside">
            <a href="#" class="ivenues-venue-title"></a>
            <div class="ivenues-text ivenues-address"></div>
            <div class="ivenues-text"></div>
            <div class="ivenues-text ivenues-openmic"></div>
          </div>
        </div>
        <div class="ivenues-item">
          <div class="ivenues-leftside"></div>
          <div class="ivenues-rightside">
            <a href="#" class="ivenues-venue-title"></a>
            <div class="ivenues-text ivenues-address"></div>
            <div class="ivenues-text"></div>
            <div class="ivenues-text ivenues-openmic"></div>
          </div>
        </div>
      </div>

    </div>
    <div class="ivenues-pagination"><%= will_paginate @mapped_venues %></div>
  </div>
</div>
 -->
