<h1 class='venue-name'><%= @venue.en_name %></h1>


<div id="images-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <% @venue.venue_photos.each_with_index do |photo, i| %>
      <li data-target="#images-carousel" data-slide-to=<%= i %> class="<%= 'active' if i == 0 %>"></li>
    <% end %>
  </ol>

  <div class="carousel-inner">
    <% @venue.venue_photos.each_with_index do |photo, i| %>
      <div class="item <%= 'active' if i == 0 %>">
        <%= cl_image_tag photo.photo, class: 'carousel-photo' %>
      </div>
    <% end %>
  </div>

  <a class="left carousel-control" href="#images-carousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#images-carousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>

<div class="venue-info">
  <div><span>en_name: </span><%= @venue.en_name %></div>
  <div><span>jp_name: </span><%= @venue.jp_name %></div>
  <div><span>address: </span><%= @venue.address %></div>
  <div><span>latitude: </span><%= @venue.latitude %></div>
  <div><span>longitude: </span><%= @venue.longitude %></div>
  <div><span>phone_num: </span><%= @venue.phone_num %></div>
  <div><span>email: </span><%= @venue.email %></div>
  <div><span>closest_station: </span><%= @venue.closest_station %></div>
  <div><span>jp_website: </span><%= @venue.jp_website %></div>
  <div><span>en_website: </span><%= @venue.en_website %></div>
  <div><span>openmic_day: </span><%= @venue.openmic_day %></div>
  <div><span>openmic_start_time: </span><%= @venue.openmic_start_time %></div>
  <div><span>openmic_ending_time: </span><%= @venue.openmic_ending_time %></div>
  <div><span>booking_system: </span><%= @venue.booking_system %></div>
  <div><span>charge: </span><%= @venue.charge %></div>
  <div><span>additional_charge: </span><%= @venue.additional_charge %></div>
  <div><span>stage_rule: </span><%= @venue.stage_rule %></div>
  <div><span>capacity: </span><%= @venue.capacity %></div>
</div>
