<h1><%= @venue.en_name %></h1>

<style>
  .venue-photos {
    display: flex;
    flex-wrap: wrap;
  }
  .venue-photo {
    margin: 10px;
  }
</style>

<!-- <div class="venue-photos">
  <%# @venue.venue_photos.each_with_index do |photo| %>
    <div class="venue-photo"><%#= cl_image_tag photo.photo, width: 300 %></div>
  <%# end %>
</div> -->
<div class="container">
<div id="venue-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
  <% (0...@venue.venue_photos.count).each do |index| %>
    <li data-target="#venue-carousel" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
  <% end %>
  </ol>
  <div class="carousel-inner">
  <% @venue.venue_photos.each_with_index do |photo, index| %>
    <div class="item<%= " active" if index == 0 %>">
      <%= cl_image_tag photo.photo, class: "d-block w-100" %>
    </div>
  <% end %>
  </div>
  <a class="carousel-control-prev" href="#venue-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#venue-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div><span>en_name: </span><%= @venue.en_name %></div>
<div><span>jp_name: </span><%= @venue.jp_name %></div>
<div><span>address: </span><%= @venue.address %></div>
<div><span>latitude: </span><%= @venue.latitude %></div>
<div><span>longitude: </span><%= @venue.longitude %></div>
<div><span>phone_num: </span><%= @venue.phone_num %></div>
<div><span>email: </span><%= @venue.email %></div>
<div><span>closest_station: </span><%= @venue.closest_station %></div>
<div><span>jp_website: </span><%= @venue.jp_website %></div>
<div><span>en_website: </span><%= @venue.en_website %></div>
<div><span>openmic_day: </span><%= @venue.openmic_day %></div>
<div><span>openmic_start_time: </span><%= @venue.openmic_start_time %></div>
<div><span>openmic_ending_time: </span><%= @venue.openmic_ending_time %></div>
<div><span>booking_system: </span><%= @venue.booking_system %></div>
<div><span>charge: </span><%= @venue.charge %></div>
<div><span>additional_charge: </span><%= @venue.additional_charge %></div>
<div><span>stage_rule: </span><%= @venue.stage_rule %></div>
<div><span>capacity: </span><%= @venue.capacity %></div>


</div>
