<!-- <h1 class='venue-name'><%= @venue.en_name %></h1> -->

<div id="images-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <% @venue.venue_photos.each_with_index do |photo, i| %>
      <li data-target="#images-carousel" data-slide-to=<%= i %> class="<%= 'active' if i == 0 %>"></li>
    <% end %>
  </ol>

  <div class="carousel-inner carousel-size" style="margin-bottom: 50px;">
    <% @venue.venue_photos.each_with_index do |photo, i| %>
      <div class="item <%= 'active' if i == 0 %> ">
        <%= cl_image_tag photo.photo, class: 'carousel-photo' %>
      </div>
    <% end %>
  </div>

  <a class="left carousel-control" href="#images-carousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#images-carousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>

<div class="venue-info">
  <div class="venue-name-style"><%= @venue.en_name %> <%= @venue.jp_name %>



    <input type="checkbox" style="display: none;" id="bookmark">
    <label for="bookmark" class='btn'><i class="far fa-bookmark"></i></label>
    <script>
      $(document).ready(function() {
        $("#bookmark").change(function(){
          if(this.checked){
            $(".bookmark-which-band")[0].style.display = "block";
            $('.m-show-description')[0].style.display = 'none'
            $('.bookmark')[0].style.display = 'none'
          } else {
            $(".bookmark-which-band")[0].style.display = "none";
          }
        })
      });
    </script>

    <% options = [] %>
    <% current_user.bands.each {|band| options << [band.id, band.band_name]} %>

    <div class="bookmark-which-band" style="display: none">
      <%= simple_form_for @bookmark_board do |f| %>
        <%= f.hidden_field :venue_id, value: @venue.id %>
        <%= f.collection_check_boxes :band_id, options, :first, :last %>
        <%= f.submit "Share", class: "btn btn-success message-submit" %>
      <% end %>
    </div>
    <!-- simple form for @bookmark_board to fill up band -->

  </div>
  <!-- <div><span>Japanese name: </span><%= @venue.jp_name %></div> -->
  <div class="venue-bio"><span>Address: </span><%= @venue.address %></div>
 <!--  <div><span>Latitude: </span><%= @venue.latitude %></div> -->
  <!-- <div><span>Longitude: </span><%= @venue.longitude %></div> -->
  <div class="venue-bio"><span>Phone Number: </span><%= @venue.phone_num %></div>
  <!-- <div><span>Email: </span><%= @venue.email %></div> -->
  <div class="venue-bio"><span>Nearest Station: </span><%= @venue.closest_station %></div>
  <div class="venue-bio"><span>Website: </span><a><%= @venue.jp_website %></a></div>
  <!-- <div><span>En website: </span><%= @venue.en_website %></div> -->
  <div class="venue-bio"><span>Open Mic Availability: </span><%= @venue.openmic_day %></div>
  <!-- <div class="venue-bio"><span>Openmic_start_time: </span><%= @venue.openmic_start_time %></div>
  <div class="venue-bio"><span>Openmic_ending_time: </span><%= @venue.openmic_ending_time %></div> -->
  <!-- <div><span>Booking_system: </span><%= @venue.booking_system %></div> -->
 <!--  <div><span>Charge: </span><%= @venue.charge %></div>
  <div><span>Additional_charge: </span><%= @venue.additional_charge %></div> -->
<!--   <div><span>Stage_rule: </span><%= @venue.stage_rule %></div>
  <div><span>Capacity: </span><%= @venue.capacity %></div> -->
</div>
