<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/harrisongarovi/image/upload/v1551851442/adult-artist-artists-210887.jpg);">
  <div class="card-category-band">
    <div class="container">
      <div class="show-nickname" style="text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);">
        <%= @band.band_name %>
      </div>
        <h4>Unique band, unique sound</h4>
        <div class="banner-band-description">
          <p>Genre: Rock, Alternative</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="show-container">

    <div class="card-wrapper">
      <div class="card-contents-band">
        <p class='band-members-title'>Members</p>
        <div class="band-members-wrapper">

          <% @band.band_members.all.each do |member|%>
              <div class="band-members">
                <%= link_to musician_path(member.user) do %>
                  <span><%= cl_image_tag(member.user.user_photo, class:'member-avatar')%></span>
                <% end %>
                <div class="member-description">
                  <%= member.user.nickname.capitalize %> plays
                    <% equipment = Equipment.find(member.user.equipment_ids).map do |instrument| %>
                      <% instrument.equipment_type %>
                    <% end %>
                    <%= equipment.join(',') %>
                  <p>Location: <%= member.user.location.capitalize %></p>
                </div>
              </div>
          <% end %>
        </div>
      </div>

          <script>
            $(document).ready(function() {
              $("#connect").change(function(){
                if(this.checked){
                  $(".popup")[0].style.display = "block";
                  $(".card-contents")[0].style.display = "none";
                } else {
                  $(".popup")[0].style.display = "none";
                }
              })
            });
          </script>


    </div>

  <div class="chat-container">
    <h3>Messages</h3>
    <%= render 'messages' %>
  </div>

  <div class="bookmarked-venues-container">
    <% @band.bookmark_boards.each do |bookmark| %>
        <h4><%= bookmark.venue.en_name %></h4>
        <p><%= bookmark.user.nickname %> booked </p>
    <% end %>
  </div>
  </div>
</div>














