<div class="navbar-logo">
  <!-- Logo -->

  <div class="logo-h1">
    <%= link_to root_path do %>
      <%= image_tag "https://res.cloudinary.com/harrisongarovi/image/upload/v1551761973/guitar-icon-png-30.png", alt: "logo", height: 63, width: 76  %>
    <% end %>
    <%= link_to root_path do %>
    <h1 class="logo-h1 h1">C Major 7</h1>
    <% end %>
  </div>

  <div class="navbar-right">
    <ul style="list-style: none; display: flex;">
      <%= link_to musicians_path do %>
      <li style="padding: 30px;margin-top: 20px;">Musicians</li>
      <% end %>
      <%= link_to new_musician_session_path do %>
      <li style="padding: 30px;margin-top: 20px;">Sign up</li>
      <% end %>
      <%= link_to new_musician_registration_path do %>
      <li style="padding: 30px;margin-top: 20px;">Login</li>
      <% end %>
    </ul>
  </div>
</div>
