<div class="navbar-wagon navbar-logo">
  <!-- Logo -->

  <div class="logo-h1">
    <div style="margin-left: 58px">
    <%= link_to root_path do %>
      <%= image_tag 'logo2.PNG', alt: "logo", height: 40, width: 60  %>
    <% end %>
    </div>
    <%= link_to root_path do %>
    <h1 class="logo-h1 h1" style="margin-bottom: 20px; color: white; font-family:'Josefin Sans', sans-serif; font-weight: 900; font-size: 25px">
      Cmaj7
    </h1>
    <% end %>
  </div>

  <div class="navbar-right">
  <% if user_signed_in? %>
    <div style="color: white ">Hello, <%= current_user.nickname.capitalize %></div>
    <%= link_to "Musicians", musicians_path%>
    <%= link_to "Venues", venues_index_path %>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <% if current_user.user_photo.blank? %>
          <%= image_tag "https://via.placeholder.com/50/", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", data: {toggle: "dropdown"} %>
        <% else %>
          <%= cl_image_tag(current_user.user_photo, width: 50, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", data: {toggle: "dropdown"}) %>
        <% end %>

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Musicians", musicians_path %></li>
          <!-- <li><%#= link_to "Venues", venues_index_path %></li> -->
          <li><%= link_to "Dashboard", musicians_dashboard_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="navbar-wagon-item">
      <%= link_to "Musicians", musicians_path, class: "navbar-item navbar-link" %>
      <%= link_to "Log in", new_user_session_path, class: "navbar-item navbar-link" %>
      <%= link_to "Sign up", new_user_registration_path, class: "navbar-item navbar-link" %>
    </div>
  <% end %>
  </div>

</div>
