<div class="navbar-logo">
  <!-- Logo -->

  <div class="logo-h1">
    <div style="margin-left: 58px">
    <%= link_to root_path do %>
      <%= image_tag 'logo2.PNG', alt: "logo", height: 40, width: 60  %>
    <% end %>
    </div>
    <%= link_to root_path do %>
    <h1 class="logo-h1 h1" style="margin-bottom: 20px; color: white; font-family:'Josefin Sans', sans-serif; font-weight: 900; font-size: 25px">
      Cmaj7
    </h1>
    <% end %>
  </div>

  <div class="navbar-right">
  <% if user_signed_in? %>
      <div style="color: white ">Hello, <%= current_user.email %> </div>
      <div class="navbar-wagon-item">
          <%= link_to "Band", bands_path %>
          <%= link_to "Musicians", musicians_path %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
    <div class="navbar-wagon-item">
      <%= link_to "Musicians", musicians_path %>
      <%= link_to "Log in", new_user_session_path, class: "navbar-item navbar-link" %>
      <%= link_to "Sign up", new_user_registration_path, class: "navbar-item navbar-link" %>
    </div>
<% end %>
  </div>
</div>
</div>
</div>
