<div class="navbar-wagon navbar-logo">
  <!-- Logo -->

  <div class="logo-h1">
    <div style="margin-left: 58px">
    <%= link_to root_path do %>
      <%= image_tag 'logo2.PNG', alt: "logo", height: 40, width: 60  %>
    <% end %>
    </div>
    <%= link_to root_path do %>
    <h1 class="logo-h1 h1" style="margin-bottom: 20px; color: white; font-family:'Josefin Sans', sans-serif; font-weight: 900; font-size: 25px">
      Cmaj7
    </h1>
    <% end %>
  </div>

  <div class="navbar-right">
  <% if user_signed_in? %>
  <!--   <div class= "navbar-item navbar-link">Hello, <%= current_user.nickname.capitalize %></div> -->
    <input type="checkbox" style="display: none;" id="search">
    <label for="search" class='btn search-btn'>
      <i class="fas fa-search awesome-search-color"></i>
    </label>

    <script>
      $(document).ready(function() {
        $("#search").change(function(){
          if(this.checked){
            $(".musician-search-bar")[0].style.display = "block";
            $('.search-btn')[0].style.display = 'none'
          } else {
            $(".musician-search-bar")[0].style.display = "none";
          }
        })
      });
    </script>

    <div class="flex-grow-3 d-flex musician-search-bar" style="display: none">
      <%= form_tag musicians_path, method: :get, class: 'search-form' do %>
        <!-- <div style="width: 20px; height: 35px; background-color: #E84369; border-top-left-radius: 15px; border-bottom-left-radius: 15px;"></div> -->
        <%= text_field_tag :query, params[:query], class: "form-home mr-sm-6 search-field", placeholder: " Search by instrument or location" %>
        <%= button_tag(type: "submit", class: "btn search-btn") do %>
           <i class="fas fa-search awesome-search-color"></i>
        <% end %>
      <% end %>
    </div>

    <%= link_to "Musicians", musicians_path, class: "navbar-item musician-navbar-link"%>
    <%= link_to "Venues", venues_path, class: "navbar-item venue-navbar-link" %>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <% if current_user.user_photo.blank? %>
          <%= image_tag "https://via.placeholder.com/50/", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", data: {toggle: "dropdown"} %>
        <% else %>
          <%= cl_image_tag(current_user.user_photo, width: 50, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", data: {toggle: "dropdown"}) %>
        <% end %>

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Dashboard", musicians_dashboard_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="navbar-wagon-item">
      <%= link_to "Musicians", musicians_path, class: "navbar-item musician-navbar-link" %>
      <%= link_to "Venues", venues_path, class: "navbar-item venue-navbar-link" %>
      <%= link_to "Log in", new_user_session_path, class: "navbar-item nav-sl-navbar-link" %>
      <%= link_to "Sign up", new_user_registration_path, class: "navbar-item nav-sl-navbar-link" %>
    </div>
  <% end %>
  </div>

</div>
