<div class="navbar-logo">
  <!-- Logo -->

  <div class="logo-h1">
    <div style="margin-left: 90px">
    <%= link_to root_path do %>
      <%= image_tag 'logo2.PNG', alt: "logo", height: 40, width: 60  %>
    <% end %>
    </div>
    <%= link_to root_path do %>
    <h1 class="logo-h1 h1" style="margin-bottom: 22px">
      <%= image_tag 'cmaj7black.PNG', height: 50, width: 90 %>
    </h1>
    <% end %>
  </div>

  <div class="navbar-right">
    <ul style="list-style: none; display: flex;">

    <% if user_signed_in? %>
      <li style="padding: 30px;margin-top: 20px;color: white"><%= current_user.email %></li>
      <%= link_to musicians_path do %>
      <li style="padding: 30px;margin-top: 20px;">Musicians</li>
      <% end %>
      <%= link_to destroy_user_session_path, method: 'delete' do %>
      <li style="padding: 30px;margin-top: 20px;">Logout</li>
      <% end %>
    <% else %>
      <%= link_to musicians_path do %>
      <li style="padding: 30px;margin-top: 20px;">Musicians</li>
      <% end %>
      <%= link_to new_user_registration_path do %>
      <li style="padding: 30px;margin-top: 20px;">Join us</li>
      <% end %>
      <%= link_to new_user_session_path do %>
      <li style="padding: 30px;margin-top: 20px;">Login</li>
      <% end %>
    <% end %>

    </ul>
  </div>
</div>
</div>
</div>
