<div class="navbar-logo">
  <!-- Logo -->

  <div class="logo-h1">
    <div style="margin-left: 90px">
    <%= link_to root_path do %>
      <%= image_tag 'logo2.PNG', alt: "logo", height: 40, width: 60  %>
    <% end %>
    </div>
    <%= link_to root_path do %>
    <h1 class="logo-h1 h1" style="margin-bottom: 22px">
      <%= image_tag 'cmaj7.png', height: 50, width: 90 %>
    </h1>
    <% end %>
  </div>

  <div class="navbar-right">
<<<<<<< HEAD
    <ul style="list-style: none; display: flex;">
      <%= link_to musicians_path do %>
      <li style="padding: 30px;margin-top: 20px;">Musicians</li>
      <% end %>
      <%= link_to new_musician_registration_path do %>
      <li style="padding: 30px;margin-top: 20px;">Join us</li>
      <% end %>
      <%= link_to new_musician_session_path do %>
      <li style="padding: 30px;margin-top: 20px;">Login</li>
      <% end %>
    </ul>
=======
  <% if user_signed_in? %>
      <div style="color: white ">Hello, <%= current_user.email %> </div>
      <div class="navbar-wagon-item">
          <%= link_to "Band", bands_path %>
          <%= link_to "Musicians", musicians_path %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
    <div class="navbar-wagon-item">
      <%= link_to "Musicians", musicians_path %>
      <%= link_to "Log in", new_user_session_path, class: "navbar-item navbar-link" %>
      <%= link_to "Sign up", new_user_registration_path, class: "navbar-item navbar-link" %>
    </div>
<% end %>
>>>>>>> de09ca3246f3ee58e626f59ca65e4211488b636e
  </div>
</div>
</div>
</div>
